*.o
newton
biseccion
resultado*
cr.0
cr.1
cr.2
cr.3
cr.4
cr.png
e_cr_0
ejecucion_newton-tolerancias.sh
ejecuta_extra.sh~
ejecuta_extra_2.sh
em-h1000_v-10_m2_fr1.octave
em-h1000_v-10_m2_fr1.png
extra
extra.aux
extra.log
extra.pdf
extra.tex
extra.tex~
extra_final.aux
extra_final.log
extra_final.pdf
extra_final.tex
extra_final_2.aux
extra_final_2.log
extra_final_2.pdf
extra_final_2.tex
extra_final_3.aux
extra_final_3.log
extra_final_3.pdf
extra_final_3.tex
extra_final_4.aux
extra_final_4.log
extra_final_4.pdf
extra_final_4.tex
genem-h1000_v-10_m2_fr1.sh
gentspt1-h10000_v1000000_m2_fr1.sh
gentspt1-h1000_v-10_m2_fr1.sh
gentspt1-h100_v-381_m2_fr1.sh
gentspt1.sh
grafico1.sh
grafico2.sh
graficob
graficob1
graficob1.png
graficob2
graficob2.png
masajea
prec-impactos.png
prec-tiempo.png
salida.extra
salida_extra_2
scrpti
scrpti~
t1sp-h10000_v1000000_m2_fr1.octave
t1sp-h10000_v1000000_m2_fr1.png
t1sp-h1000_v-10_m2_fr1-pr10+.octave
t1sp-h1000_v-10_m2_fr1-pr10+.png
t1sp-h1000_v-10_m2_fr1.octave
t1sp-h1000_v-10_m2_fr1.png
t1sp-h100_v-381_m2_fr1.octave
t1sp-h100_v-381_m2_fr1.png
t1sp.m
t1sp.png
tp1_1_2012_extra.tex
vv

