*.pgm
*.o
PSNR-fr-lambda-sp.png
PSNR-fr-lambda-speckle.eps
PSNR-fr-lambda-speckle.png
PSNR-fr-lambda.eps
PSNR-fr-lambda.png
Shakespeare/
ejecucion.ori
filtrar_img
gegen
homero-psnr-fr-lambda-gauss.eps
homero-psnr-fr-lambda-gauss.png
homero-psnr-fr-lambda-sp.eps
homero-psnr-fr-lambda-sp.png
homero-psnr-fr-lambda-speckle.eps
homero-psnr-fr-lambda-speckle.png
imagenes_filtradas/
nohup.out
psnr
psnr-fr-sp.eps
ruido_gauss
ruido_sp
ruido_speckle
salida_ejecucion.256
salida_ejecucion.64_y_128
salida_ejecucion.homero
se256-ab.sp
se256-ab.speckle
se256-lambda0.2-ac.gauss
se256-lambda0.2-ac.sp
se256-lambda0.2-ac.speckle
se256-lambda0.4-ac.gauss
se256-lambda0.4-ac.sp
se256-lambda0.4-ac.speckle
se256-lambda0.6-ac.gauss
se256-lambda0.6-ac.sp
se256-lambda0.6-ac.speckle
se256-lambda0.8-ac.gauss
se256-lambda0.8-ac.sp
se256-lambda0.8-ac.speckle
se256-lambda1-ab.gauss
se256-lambda1-ac.gauss
se256-lambda1-ac.sp
se256-lambda1-ac.speckle
se256-lambda10-ac.gauss
se256-lambda10-ac.sp
se256-lambda10-ac.speckle
se256.gauss
se256.sp
se256.speckle
seh-ab.gauss
seh-ab.sp
seh-ab.speckle
seh-lambda0.2-ac.gauss
seh-lambda0.2-ac.sp
seh-lambda0.2-ac.speckle
seh-lambda0.4-ac.gauss
seh-lambda0.4-ac.sp
seh-lambda0.4-ac.speckle
seh-lambda0.6-ac.gauss
seh-lambda0.6-ac.sp
seh-lambda0.6-ac.speckle
seh-lambda0.8-ac.gauss
seh-lambda0.8-ac.sp
seh-lambda0.8-ac.speckle
seh-lambda1-ac.gauss
seh-lambda1-ac.sp
seh-lambda1-ac.speckle
seh-lambda10-ac.gauss
seh-lambda10-ac.sp
seh-lambda10-ac.speckle
seh.gauss
seh.sp
seh.speckle
tam-vs-tiempo.png
tam_vs_tiempo.ps
